openapi: 3.0.2
info:
  title: PokeAPI
  version: '2.0'
  license:
    name: MIT
  description: 'https://pokeapi.co/docs/v2'
servers:
  - url: 'https://pokeapi.co/api/v2'
paths:
  /pokemon:
    get:
      tags:
        - Pokemon
      operationId: getPokemons
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/GetPokemonsResponse'
        '404':
          $ref: '#/components/responses/404Response'
      description: 'Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. See Bulbapedia for greater detail.'
  '/pokemon/{id-or-name}':
    get:
      description: |-
        Pokémon are the creatures that inhabit the world of the Pokémon games.
        They can be caught using Pokéballs and trained by battling with other Pokémon.
        Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. See Bulbapedia for greater detail.
      tags:
        - Pokemon
      operationId: getPokemonById
      responses:
        '200':
          $ref: '#/components/responses/GetPokemonByIdResponse'
        '404':
          $ref: '#/components/responses/404Response'
    parameters:
      - schema:
          type: string
        name: id-or-name
        in: path
        required: true
  /types:
    description: |
      Types are properties for Pokémon and their moves.
      Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.
    get:
      tags:
        - Pokemon
      operationId: getTypes
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/GetTypesResponse'
        '404':
          $ref: '#/components/responses/404Response'
  '/types/{id-or-name}':
    description: |
      Types are properties for Pokémon and their moves.
      Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.
    get:
      tags:
        - Pokemon
      operationId: getTypeById
      responses:
        '200':
          $ref: '#/components/responses/GetTypeByIdResponse'
        '404':
          $ref: '#/components/responses/404Response'
    parameters:
      - schema:
          type: string
        name: id-or-name
        in: path
        required: true
  /item:
    description: |
      An item is an object in the games which the player can pick up, keep in their bag, and use in some manner.
      They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
    get:
      tags:
        - Items
      operationId: getItems
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/GetItemsResponse'
        '404':
          $ref: '#/components/responses/404Response'
  '/item/{id-or-name}':
    description: |
      An item is an object in the games which the player can pick up, keep in their bag, and use in some manner.
      They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.
    get:
      tags:
        - Items
      operationId: getItemById
      responses:
        '200':
          $ref: '#/components/responses/GetPokemonByIdResponse'
        '404':
          $ref: '#/components/responses/404Response'
    parameters:
      - schema:
          type: string
        name: id-or-name
        in: path
        required: true
  /generation:
    get:
      summary: ''
      responses:
        '200':
          $ref: '#/components/responses/GetGenerationsResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getGenerations
      parameters:
        - schema:
            type: integer
          in: query
          name: limit
        - schema:
            type: integer
          in: query
          name: offset
      description: 'A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.'
      tags:
        - Games
    parameters: []
  '/generation/{id-or-name}':
    get:
      summary: ''
      responses:
        '200':
          $ref: '#/components/responses/GetGenerationByIdResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getGenerationById
      description: 'A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.'
      tags:
        - Games
    parameters:
      - schema:
          type: string
        name: id-or-name
        in: path
        required: true
  '/version/{id-or-name}':
    get:
      summary: ''
      responses:
        '200':
          $ref: '#/components/responses/GetVersionByIdResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getVersionById
      description: 'Versions of the games, e.g., Red, Blue or Yellow.'
      tags:
        - Games
    parameters:
      - schema:
          type: string
        name: id-or-name
        in: path
        required: true
  /version:
    get:
      summary: ''
      responses:
        '200':
          $ref: '#/components/responses/GetVersionsResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getVersion
      parameters:
        - schema:
            type: integer
          in: query
          name: limit
        - schema:
            type: integer
          in: query
          name: offset
      description: 'Versions of the games, e.g., Red, Blue or Yellow.'
      tags:
        - Games
  '/version-group/{id-or-name}':
    get:
      summary: ''
      responses:
        '200':
          $ref: '#/components/responses/GetVersionGroupByIdResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getVersionGroupById
      description: Version groups categorize highly similar versions of the games.
      tags:
        - Games
    parameters:
      - schema:
          type: string
        name: id-or-name
        in: path
        required: true
  /version-group:
    get:
      summary: ''
      responses:
        '200':
          $ref: '#/components/responses/GetVersionGroupsResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getVersionGroup
      description: Version groups categorize highly similar versions of the games.
      parameters:
        - schema:
            type: integer
          in: query
          name: limit
        - schema:
            type: integer
          in: query
          name: offset
      tags:
        - Games
  /pokemon-species:
    get:
      summary: ''
      tags:
        - Pokemon
      responses:
        '200':
          $ref: '#/components/responses/GetPokemonSpeciesResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getPokemonSpecies
      parameters:
        - schema:
            type: integer
            default: 20
          in: query
          name: limit
        - schema:
            type: integer
            default: 0
          in: query
          name: offset
      description: 'A Pokémon Species forms the basis for at least one Pokémon. Attributes of a Pokémon species are shared across all varieties of Pokémon within the species. A good example is Wormadam; Wormadam is the species which can be found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant.'
  '/pokemon-species/{id-or-name}':
    get:
      summary: ''
      tags:
        - Pokemon
      responses:
        '200':
          $ref: '#/components/responses/GetPokemonSpeciesByIdResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getPokemonSpeciesById
      description: 'A Pokémon Species forms the basis for at least one Pokémon. Attributes of a Pokémon species are shared across all varieties of Pokémon within the species. A good example is Wormadam; Wormadam is the species which can be found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant.'
    parameters:
      - schema:
          type: string
        name: id-or-name
        in: path
        required: true
  /evolution-chain:
    get:
      summary: ''
      tags:
        - Evolution
      responses:
        '200':
          $ref: '#/components/responses/GetEvolutionChainsResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getEvolutionChain
      description: Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.
      parameters:
        - schema:
            type: integer
            default: 0
          in: query
          name: limit
        - schema:
            type: integer
            default: 20
          in: query
          name: offset
  '/evolution-chain/{id}':
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags:
        - Evolution
      responses:
        '200':
          $ref: '#/components/responses/GetEvolutionChainsByIdResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getEvolutionChainById
      description: Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.
  /evolution-trigger:
    get:
      summary: ''
      tags:
        - Evolution
      responses:
        '200':
          $ref: '#/components/responses/GetEvolutionTriggersResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getEvolutionTriggers
      description: Evolution triggers are the events and conditions that cause a Pokémon to evolve. Check out Bulbapedia for greater detail.
      parameters:
        - schema:
            type: integer
            default: 20
          in: query
          name: limit
        - schema:
            type: integer
            default: 0
          in: query
          name: offset
  '/evolution-trigger/{id-or-name}':
    parameters:
      - schema:
          type: string
        name: id-or-name
        in: path
        required: true
    get:
      summary: ''
      tags:
        - Evolution
      responses:
        '200':
          $ref: '#/components/responses/GetEvolutionTriggerByIdResponse'
        '404':
          $ref: '#/components/responses/404Response'
      operationId: getEvolutionTriggerById
      description: Evolution triggers are the events and conditions that cause a Pokémon to evolve. Check out Bulbapedia for greater detail.
components:
  schemas:
    Pokemon:
      title: Pokemon
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this resource.
        name:
          type: string
          description: The name for this resource.
        base_experience:
          type: integer
          description: The base experience gained for defeating this Pokémon.
        height:
          type: integer
          description: The height of this Pokémon in decimetres.
        is_default:
          type: boolean
          description: Set for exactly one Pokémon used as the default for each species.
        order:
          type: integer
          description: 'Order for sorting. Almost national order, except families are grouped together.'
        weight:
          type: integer
          description: The weight of this Pokémon in hectograms.
        abilities:
          description: A list of abilities this Pokémon could potentially have.
          type: array
          items:
            $ref: '#/components/schemas/PokemonAbility'
        forms:
          description: A list of forms this Pokémon can take on.
          type: array
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        game_indices:
          description: A list of game indices relevent to Pokémon item by generation.
          type: array
          items:
            $ref: '#/components/schemas/VersionGameIndex'
        held_items:
          description: A list of items this Pokémon may be holding when encountered.
          type: array
          items:
            $ref: '#/components/schemas/PokemonHeldItem'
        location_area_encounters:
          description: 'A link to a list of location areas, as well as encounter details pertaining to specific versions.'
          type: string
        moves:
          description: A list of moves along with learn methods and level details pertaining to specific version groups.
          type: array
          items:
            $ref: '#/components/schemas/PokemonMove'
        past_types:
          description: A list of details showing types this pokémon had in previous generations
          type: array
          items:
            $ref: '#/components/schemas/PokemonTypePast'
        sprites:
          description: A set of sprites used to depict this Pokémon in the game. A visual representation of the various sprites can be found at PokeAPI/sprites
          $ref: '#/components/schemas/PokemonSprites'
        species:
          description: The species this Pokémon belongs to.
          type: array
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        stats:
          description: A list of base stat values for this Pokémon.
          type: array
          items:
            $ref: '#/components/schemas/PokemonStat'
        types:
          description: A list of details showing types this Pokémon has.
          type: array
          items:
            $ref: '#/components/schemas/PokemonType'
      required:
        - id
        - name
        - base_experience
        - height
        - is_default
        - order
        - weight
        - abilities
        - forms
        - game_indices
        - held_items
        - location_area_encounters
        - moves
        - past_types
        - sprites
        - species
        - stats
        - types
      description: 'Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. See Bulbapedia for greater detail.'
    PokemonAbility:
      type: object
      properties:
        is_hidden:
          description: Whether or not this is a hidden ability.
          type: boolean
        slot:
          description: The slot this ability occupies in this Pokémon species.
          type: integer
        ability:
          description: The ability the Pokémon may have.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - is_hidden
        - slot
        - ability
      example:
        is_hidden: true
        slot: 3
        ability:
          name: friend-guard
          url: 'https://pokeapi.co/api/v2/ability/132/'
    PokemonType:
      type: object
      properties:
        slot:
          description: The order the Pokémon's types are listed in.
          type: integer
        type:
          description: The type the referenced Pokémon has.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - slot
        - type
      title: ''
    PokemonFormType:
      type: object
      properties:
        slot:
          description: The order the Pokémon's types are listed in.
          type: integer
        type:
          description: The type the referenced Form has.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - slot
        - type
    PokemonTypePast:
      type: object
      properties:
        generation:
          description: The last generation in which the referenced pokémon had the listed types.
          $ref: '#/components/schemas/NamedAPIResource'
        types:
          description: The types the referenced pokémon had up to and including the listed generation.
          type: array
          items:
            $ref: '#/components/schemas/PokemonType'
      required:
        - generation
        - types
    PokemonHeldItem:
      type: object
      properties:
        item:
          description: The item the referenced Pokémon holds.
          $ref: '#/components/schemas/NamedAPIResource'
        version_details:
          description: The details of the different versions in which the item is held.
          type: array
          items:
            $ref: '#/components/schemas/PokemonHeldItemVersion'
      required:
        - item
        - version_details
    PokemonHeldItemVersion:
      type: object
      properties:
        version:
          description: The version in which the item is held.
          $ref: '#/components/schemas/NamedAPIResource'
        rarity:
          description: How often the item is held.
          type: integer
      required:
        - version
        - rarity
    PokemonMove:
      type: object
      properties:
        move:
          description: The move the Pokémon can learn.
          $ref: '#/components/schemas/NamedAPIResource'
        version_group_details:
          description: The details of the version in which the Pokémon can learn the move.
          type: array
          items:
            $ref: '#/components/schemas/PokemonMoveVersion'
      required:
        - move
        - version_group_details
    PokemonMoveVersion:
      type: object
      properties:
        move_learn_method:
          description: The method by which the move is learned.
          $ref: '#/components/schemas/NamedAPIResource'
        version_group:
          description: The version group in which the move is learned.
          $ref: '#/components/schemas/NamedAPIResource'
        level_learned_at:
          description: The minimum level to learn the move.
          type: integer
      required:
        - move_learn_method
        - version_group
        - level_learned_at
    PokemonStat:
      type: object
      properties:
        stat:
          description: The stat the Pokémon has.
          $ref: '#/components/schemas/NamedAPIResource'
        effort:
          description: The effort points (EV) the Pokémon has in the stat.
          type: integer
        base_stat:
          description: The base value of the stat.
          type: integer
      required:
        - stat
        - effort
        - base_stat
    PokemonSprites:
      type: object
      properties:
        front_default:
          description: The default depiction of this Pokémon from the front in battle.
          type: string
          format: uri
          nullable: false
        front_shiny:
          description: The shiny depiction of this Pokémon from the front in battle.
          type: string
          format: uri
          nullable: true
        front_female:
          description: The female depiction of this Pokémon from the front in battle.
          type: string
          format: uri
          nullable: false
        front_shiny_female:
          description: The shiny female depiction of this Pokémon from the front in battle.
          type: string
          format: uri
          nullable: true
        back_default:
          description: The default depiction of this Pokémon from the back in battle.
          type: string
          format: uri
          nullable: false
        back_shiny:
          description: The shiny depiction of this Pokémon from the back in battle.
          type: string
          format: uri
          nullable: true
        back_female:
          description: The female depiction of this Pokémon from the back in battle.
          type: string
          format: uri
          nullable: false
        back_shiny_female:
          description: The shiny female depiction of this Pokémon from the back in battle.
          type: string
          format: uri
          nullable: true
      required:
        - front_default
        - front_shiny
        - front_female
        - front_shiny_female
        - back_default
        - back_shiny
        - back_female
        - back_shiny_female
    Ability:
      type: object
      properties:
        id:
          description: The identifier for this resource.
          type: integer
        name:
          description: The name for this resource.
          type: string
        is_main_series:
          description: Whether or not this ability originated in the main series of the video games.
          type: boolean
        generation:
          description: The generation this ability originated in.
          $ref: '#/components/schemas/NamedAPIResource'
        names:
          description: The name of this resource listed in different languages.
          type: array
          items:
            $ref: '#/components/schemas/Name'
        effect_entries:
          description: The effect of this ability listed in different languages.
          type: array
          items:
            $ref: '#/components/schemas/VerboseEffect'
        effect_changes:
          description: The list of previous effects this ability has had across version groups.
          type: array
          items:
            $ref: '#/components/schemas/AbilityEffectChange'
        flavor_text_entries:
          description: The flavor text of this ability listed in different languages.
          type: array
          items:
            $ref: '#/components/schemas/AbilityFlavorText'
        pokemon:
          description: A list of Pokémon that could potentially have this ability.
          type: array
          items:
            $ref: '#/components/schemas/PokemonAbility'
      required:
        - id
        - name
        - is_main_series
        - generation
        - names
        - effect_entries
        - effect_changes
        - flavor_text_entries
        - pokemon
      example:
        id: 1
        name: stench
        is_main_series: true
        generation:
          name: generation-iii
          url: 'https://pokeapi.co/api/v2/generation/3/'
        names:
          - name: Stench
            language:
              name: en
              url: 'https://pokeapi.co/api/v2/language/9/'
        effect_entries:
          - effect: 'This Pokémon''s damaging moves have a 10% chance to make the target [flinch]{mechanic:flinch} with each hit if they do not already cause flinching as a secondary effect. This ability does not stack with a held item. Overworld: The wild encounter rate is halved while this Pokémon is first in the party.'
            short_effect: 'Has a 10% chance of making target Pokémon [flinch]{mechanic:flinch} with each hit.'
            language:
              name: en
              url: 'https://pokeapi.co/api/v2/language/9/'
        effect_changes:
          - version_group:
              name: black-white
              url: 'https://pokeapi.co/api/v2/version-group/11/'
        flavor_text_entries:
          - flavor_text: あ
            language:
              name: ja-kanji
              url: 'https://pokeapi.co/api/v2/language/11/'
            version_group:
              name: x-y
              url: 'https://pokeapi.co/api/v2/version-group/15/'
    AbilityEffectChange:
      type: object
      properties:
        effect_entries:
          description: The previous effect of this ability listed in different languages.
          type: array
          items:
            $ref: '#/components/schemas/Effect'
        version_group:
          description: The version group in which the previous effect of this ability originated.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - effect_entries
        - version_group
    AbilityFlavorText:
      type: object
      properties:
        flavor_text:
          description: The localized name for an API resource in a specific language.
          type: string
        language:
          description: The language this text resource is in.
          $ref: '#/components/schemas/NamedAPIResource'
        version_group:
          description: The version group that uses this flavor text.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - flavor_text
        - language
        - version_group
    Effect:
      type: object
      properties:
        effect:
          description: The localized effect text for an API resource in a specific language.
          type: string
        language:
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - effect
        - language
    VerboseEffect:
      type: object
      properties:
        effect:
          description: The localized effect text for an API resource in a specific language.
          type: string
          example: 'This Pokémon''s damaging moves have a 10% chance to make the target [flinch]{mechanic:flinch} with each hit if they do not already cause flinching as a secondary effect. This ability does not stack with a held item. Overworld: The wild encounter rate is halved while this Pokémon is first in the party.'
        short_effect:
          description: The localized effect text in brief.
          type: string
          example: 'Has a 10% chance of making target Pokémon [flinch]{mechanic:flinch} with each hit.'
        language:
          description: The language this effect is in.
          $ref: '#/components/schemas/NamedAPIResource'
          example:
            name: en
            url: 'https://pokeapi.co/api/v2/language/9/'
      required:
        - effect
        - short_effect
        - language
    TypePokemon:
      type: object
      properties:
        slot:
          description: The order the Pokémon's types are listed in.
          type: integer
        pokemon:
          description: The Pokémon that has the referenced type.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - slot
        - pokemon
    TypeRelations:
      type: object
      properties:
        no_damage_to:
          description: A list of types this type has no effect on.
          $ref: '#/components/schemas/NamedAPIResource'
        half_damage_to:
          description: A list of types this type is not very effect against
          $ref: '#/components/schemas/NamedAPIResource'
        double_damage_to:
          description: A list of types this type is very effect against.
          $ref: '#/components/schemas/NamedAPIResource'
        no_damage_from:
          description: A list of types that have no effect on this type.
          $ref: '#/components/schemas/NamedAPIResource'
        half_damage_from:
          description: A list of types that are not very effective against this type.
          $ref: '#/components/schemas/NamedAPIResource'
        double_damage_from:
          description: A list of types that are very effective against this type.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - no_damage_to
        - half_damage_to
        - double_damage_to
        - no_damage_from
        - half_damage_from
        - double_damage_from
    TypeRelationsPast:
      type: object
      properties:
        generation:
          description: The last generation in which the referenced type had the listed damage relations
          $ref: '#/components/schemas/NamedAPIResource'
        damage_relations:
          description: The damage relations the referenced type had up to and including the listed generation
          $ref: '#/components/schemas/TypeRelations'
      required:
        - generation
        - damage_relations
    ItemSprites:
      type: object
      properties:
        default:
          description: The default depiction of this item.
          type: string
      required:
        - default
    ItemHolderPokemon:
      type: object
      properties:
        pokemon:
          description: The Pokémon that holds this item.
          $ref: '#/components/schemas/NamedAPIResource'
        version_details:
          description: The details for the version that this item is held in by the Pokémon.
          type: array
          items:
            $ref: '#/components/schemas/ItemHolderPokemonVersionDetail'
      required:
        - pokemon
        - version_details
    ItemHolderPokemonVersionDetail:
      type: object
      properties:
        rarity:
          description: How often this Pokémon holds this item in this version.
          type: integer
        version:
          description: The version that this item is held in by the Pokémon.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - rarity
        - version
    Name:
      type: object
      properties:
        name:
          description: The localized name for an API resource in a specific language.
          type: string
        language:
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - name
        - language
    NamedAPIResource:
      type: object
      properties:
        name:
          description: The language this name is in.
          type: string
        url:
          description: The URL of the referenced resource.
          type: string
          format: uri
      required:
        - name
        - url
    Language:
      type: object
      properties:
        id:
          description: The identifier for this resource.
          type: integer
          example: 1
        name:
          description: The name for this resource.
          type: string
          example: ja
        official:
          description: Whether or not the games are published in this language.
          type: boolean
          example: true
        iso639:
          description: The two-letter code of the country where this language is spoken. Note that it is not unique.
          type: string
          example: ja
        iso3166:
          description: The two-letter code of the language. Note that it is not unique.
          type: string
          example: jp
        names:
          description: The name of this resource listed in different languages.
          type: array
          items:
            $ref: '#/components/schemas/Name'
      required:
        - id
        - name
        - official
        - iso639
        - iso3166
        - names
    MachineVersionDetail:
      type: object
      properties:
        machine:
          description: The machine that teaches a move from an item.
          $ref: '#/components/schemas/NamedAPIResource'
        version_group:
          description: The version group of this specific machine.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - machine
        - version_group
    GenerationGameIndex:
      type: object
      properties:
        game_index:
          description: The internal id of an API resource within game data.
          type: integer
        generation:
          description: The generation relevent to this game index.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - game_index
        - generation
    VersionGameIndex:
      type: object
      properties:
        game_index:
          description: The internal id of an API resource within game data.
          type: integer
        version:
          description: The version relevent to this game index.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - game_index
        - version
    VersionGroupFlavorText:
      type: object
      properties:
        text:
          description: The localized name for an API resource in a specific language.
          type: string
        language:
          description: The language this name is in.
          $ref: '#/components/schemas/NamedAPIResource'
        version_group:
          description: The version group which uses this flavor text.
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - text
        - language
        - version_group
    PokemonSpeciesDexEntry:
      type: object
      properties:
        entry_number:
          type: integer
          description: The index number within the Pokédex.
        pokedex:
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - entry_number
        - pokedex
    PalParkEncounterArea:
      title: PalParkEncounterArea
      type: object
      properties:
        base_score:
          type: integer
          description: The base score given to the player when the referenced Pokémon is caught during a pal park run.
        rate:
          type: integer
          description: The base rate for encountering the referenced Pokémon in this pal park area.
        area:
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - base_score
        - rate
        - area
    PokemonSpeciesVariety:
      title: PokemonSpeciesVariety
      type: object
      properties:
        is_default:
          type: boolean
          description: Whether this variety is the default variety.
        pokemon:
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - is_default
        - pokemon
    APIResource:
      title: APIResource
      type: object
      properties:
        url:
          type: string
          description: The URL of the referenced resource.
      required:
        - url
    FlavorText:
      title: FlavorText
      type: object
      properties:
        flavor_text:
          type: string
          description: The localized flavor text for an API resource in a specific language. Note that this text is left unprocessed as it is found in game files. This means that it contains special characters that one might want to replace with their visible decodable version. Please check out this issue to find out more.
        language:
          $ref: '#/components/schemas/NamedAPIResource'
        version:
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - flavor_text
        - language
        - version
    Description:
      title: Description
      type: object
      properties:
        description:
          type: string
          description: The localized description for an API resource in a specific language.
        language:
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - description
        - language
    Genus:
      title: Genus
      type: object
      properties:
        genus:
          type: string
          description: The localized genus for the referenced Pokémon species
        language:
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - genus
        - language
    ChainLink:
      title: ChainLink
      type: object
      properties:
        is_baby:
          type: boolean
          description: Whether or not this link is for a baby Pokémon. This would only ever be true on the base link.
        species:
          $ref: '#/components/schemas/NamedAPIResource'
        evolution_details:
          description: All details regarding the specific details of the referenced Pokémon species evolution.
          type: array
          items:
            $ref: '#/components/schemas/EvolutionDetail'
        evolves_to:
          type: array
          description: A List of chain objects.
          items:
            $ref: '#/components/schemas/ChainLink'
      required:
        - is_baby
        - species
        - evolution_details
        - evolves_to
    EvolutionDetail:
      title: EvolutionDetail
      type: object
      properties:
        item:
          type: string
          description: The item required to cause evolution this into Pokémon species.
        trigger:
          type: string
          description: The type of event that triggers evolution into this Pokémon species.
        gender:
          type: integer
          description: The id of the gender of the evolving Pokémon species must be in order to evolve into this Pokémon species.
        held_item:
          type: string
          description: The item the evolving Pokémon species must be holding during the evolution trigger event to evolve into this Pokémon species.
        known_move:
          type: string
          description: The move that must be known by the evolving Pokémon species during the evolution trigger event in order to evolve into this Pokémon species.
        known_move_type:
          type: string
          description: The evolving Pokémon species must know a move with this type during the evolution trigger event in order to evolve into this Pokémon species.
        location:
          type: string
          description: The location the evolution must be triggered at.
        min_level:
          type: integer
          description: The minimum required level of the evolving Pokémon species to evolve into this Pokémon species.
        min_happiness:
          type: integer
          description: The minimum required level of happiness the evolving Pokémon species to evolve into this Pokémon species.
        min_beauty:
          type: integer
          description: The minimum required level of beauty the evolving Pokémon species to evolve into this Pokémon species.
        min_affection:
          type: integer
          description: The minimum required level of affection the evolving Pokémon species to evolve into this Pokémon species.
        needs_overworld_rain:
          type: boolean
          description: Whether or not it must be raining in the overworld to cause evolution this Pokémon species.
        party_species:
          $ref: '#/components/schemas/NamedAPIResource'
        party_type:
          $ref: '#/components/schemas/NamedAPIResource'
        relative_physical_stats:
          type: integer
          description: The required relation between the Pokémon's Attack and Defense stats. 1 means Attack > Defense. 0 means Attack = Defense. -1 means Attack < Defense.
        time_of_day:
          type: string
          description: The required time of day. Day or night.
        trade_species:
          $ref: '#/components/schemas/NamedAPIResource'
        turn_upside_down:
          type: boolean
          description: Whether or not the 3DS needs to be turned upside-down as this Pokémon levels up.
      required:
        - item
        - trigger
        - gender
        - held_item
        - known_move
        - known_move_type
        - location
        - min_level
        - min_happiness
        - min_beauty
        - min_affection
        - needs_overworld_rain
        - party_species
        - party_type
        - relative_physical_stats
        - time_of_day
        - trade_species
        - turn_upside_down
    ResourceList:
      type: object
      description: a paginated list of available resources for that API
      properties:
        count:
          type: integer
          description: The total number of resources available from this API.
        next:
          type: string
          format: uri
          description: The URL for the next page in the list.
          nullable: true
        previous:
          type: string
          format: uri
          description: The URL for the previous page in the list.
          nullable: true
        results:
          type: array
          items:
            $ref: '#/components/schemas/NamedAPIResource'
      required:
        - count
        - next
        - previous
        - results
    GameGeneration:
      title: GameGeneration
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this resource.
        name:
          type: string
          description: The name for this resource.
        abilities:
          type: array
          description: A list of abilities that were introduced in this generation.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        main_region:
          $ref: '#/components/schemas/NamedAPIResource'
        moves:
          type: array
          description: A list of moves that were introduced in this generation.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        names:
          type: array
          description: The name of this resource listed in different languages.
          items:
            $ref: '#/components/schemas/Name'
        pokemon_species:
          type: array
          description: A list of Pokémon species that were introduced in this generation.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        types:
          type: array
          description: A list of types that were introduced in this generation.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        version_groups:
          type: array
          description: A list of version groups that were introduced in this generation.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
      required:
        - id
        - name
        - abilities
        - main_region
        - moves
        - names
        - pokemon_species
        - types
        - version_groups
      description: 'A generation is a grouping of the Pokémon games that separates them based on the Pokémon they include. In each generation, a new set of Pokémon, Moves, Abilities and Types that did not exist in the previous generation are released.'
    Item:
      title: Item
      type: object
      properties:
        id:
          description: The identifier for this resource.
          type: integer
        name:
          description: The name for this resource.
          type: string
        cost:
          description: The price of this item in stores.
          type: integer
        fling_power:
          description: The power of the move Fling when used with this item.
          type: integer
        fling_effect:
          description: The effect of the move Fling when used with this item.
          $ref: '#/components/schemas/NamedAPIResource'
        attributes:
          description: A list of attributes this item has.
          $ref: '#/components/schemas/NamedAPIResource'
        category:
          description: The category of items this item falls into.
          $ref: '#/components/schemas/NamedAPIResource'
        effect_entries:
          description: The effect of this ability listed in different languages.
          type: array
          items:
            $ref: '#/components/schemas/VerboseEffect'
        flavor_text_entries:
          description: The flavor text of this ability listed in different languages.
          type: array
          items:
            $ref: '#/components/schemas/VersionGroupFlavorText'
        game_indices:
          description: A list of game indices relevent to this item by generation.
          type: array
          items:
            $ref: '#/components/schemas/GenerationGameIndex'
        names:
          description: The name of this item listed in different languages.
          type: array
          items:
            $ref: '#/components/schemas/Name'
        sprites:
          description: A set of sprites used to depict this item in the game.
          $ref: '#/components/schemas/ItemSprites'
        held_by_pokemon:
          description: A list of Pokémon that might be found in the wild holding this item.
          type: array
          items:
            $ref: '#/components/schemas/ItemHolderPokemon'
        baby_trigger_for:
          description: An evolution chain this item requires to produce a bay during mating.
          $ref: '#/components/schemas/NamedAPIResource'
        machines:
          description: A list of the machines related to this item.
          type: array
          items:
            $ref: '#/components/schemas/MachineVersionDetail'
      required:
        - id
        - name
        - cost
        - fling_power
        - fling_effect
        - attributes
        - category
        - effect_entries
        - flavor_text_entries
        - game_indices
        - names
        - sprites
        - held_by_pokemon
        - baby_trigger_for
        - machines
      description: 'An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.'
    GameVersion:
      title: GameVersion
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        names:
          type: array
          items:
            $ref: '#/components/schemas/Name'
        version_group:
          $ref: '#/components/schemas/NamedAPIResource'
      required:
        - id
        - name
        - names
        - version_group
      description: 'Versions of the games, e.g., Red, Blue or Yellow.'
    GameVersionGroup:
      title: GameVersionGroup
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this resource.
        name:
          type: string
          description: The name for this resource.
        order:
          type: integer
          description: 'Order for sorting. Almost by date of release, except similar versions are grouped together.'
        generation:
          $ref: '#/components/schemas/NamedAPIResource'
        move_learn_methods:
          type: array
          description: A list of methods in which Pokémon can learn moves in this version group.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        pokedexes:
          type: array
          description: A list of Pokédexes introduces in this version group.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        regions:
          type: array
          description: A list of regions that can be visited in this version group.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        versions:
          type: array
          description: The versions this version group owns.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
      required:
        - id
        - name
        - order
        - generation
        - move_learn_methods
        - pokedexes
        - regions
        - versions
      description: Version groups categorize highly similar versions of the games.
    PokemonSpecies:
      title: PokemonSpecies
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this resource.
        name:
          type: string
          description: The name for this resource.
        order:
          type: integer
          description: 'The order in which species should be sorted. Based on National Dex order, except families are grouped together and sorted by stage.'
        gender_rate:
          type: integer
          description: 'The chance of this Pokémon being female, in eighths; or -1 for genderless.'
        capture_rate:
          type: integer
          description: 'The base capture rate; up to 255. The higher the number, the easier the catch.'
        base_happiness:
          type: integer
          description: 'The happiness when caught by a normal Pokéball; up to 255. The higher the number, the happier the Pokémon.'
        is_baby:
          type: boolean
          description: Whether or not this is a baby Pokémon.
        is_legendary:
          type: boolean
          description: Whether or not this is a legendary Pokémon.
        is_mythical:
          type: boolean
          description: Whether or not this is a mythical Pokémon.
        hatch_counter:
          type: integer
          description: 'Initial hatch counter: one must walk 255 × (hatch_counter + 1) steps before this Pokémon''s egg hatches, unless utilizing bonuses like Flame Body''s.'
        has_gender_differences:
          type: boolean
          description: Whether or not this Pokémon has visual gender differences.
        forms_switchable:
          type: boolean
          description: Whether or not this Pokémon has multiple forms and can switch between them.
        growth_rate:
          $ref: '#/components/schemas/NamedAPIResource'
        pokedex_numbers:
          description: A list of Pokedexes and the indexes reserved within them for this Pokémon species.
          type: array
          items:
            $ref: '#/components/schemas/PokemonSpeciesDexEntry'
        egg_groups:
          type: array
          description: A list of egg groups this Pokémon species is a member of.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
        color:
          $ref: '#/components/schemas/NamedAPIResource'
        shape:
          $ref: '#/components/schemas/NamedAPIResource'
        evolves_from_species:
          $ref: '#/components/schemas/NamedAPIResource'
        evolution_chain:
          $ref: '#/components/schemas/APIResource'
        habitat:
          $ref: '#/components/schemas/NamedAPIResource'
        generation:
          $ref: '#/components/schemas/NamedAPIResource'
        names:
          type: array
          description: The name of this resource listed in different languages.
          items:
            $ref: '#/components/schemas/Name'
        flavor_text_entries:
          type: array
          description: A list of flavor text entries for this Pokémon species.
          items:
            $ref: '#/components/schemas/FlavorText'
        form_descriptions:
          type: array
          description: Descriptions of different forms Pokémon take on within the Pokémon species.
          items:
            $ref: '#/components/schemas/Description'
        genera:
          type: array
          description: The genus of this Pokémon species listed in multiple languages.
          items:
            $ref: '#/components/schemas/Genus'
        varieties:
          $ref: '#/components/schemas/PokemonSpeciesVariety'
        pal_park_encounters:
          type: array
          description: A list of encounters that can be had with this Pokémon species in pal park.
          items:
            $ref: '#/components/schemas/PalParkEncounterArea'
      required:
        - id
        - name
        - order
        - gender_rate
        - capture_rate
        - base_happiness
        - is_baby
        - is_legendary
        - is_mythical
        - hatch_counter
        - has_gender_differences
        - forms_switchable
        - growth_rate
        - pokedex_numbers
        - egg_groups
        - color
        - shape
        - evolves_from_species
        - evolution_chain
        - habitat
        - generation
        - names
        - flavor_text_entries
        - form_descriptions
        - genera
        - varieties
        - pal_park_encounters
      description: 'A Pokémon Species forms the basis for at least one Pokémon. Attributes of a Pokémon species are shared across all varieties of Pokémon within the species. A good example is Wormadam; Wormadam is the species which can be found in three different varieties, Wormadam-Trash, Wormadam-Sandy and Wormadam-Plant.'
    PokemonEvolutionTrigger:
      title: PokemonEvolutionTrigger
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this resource.
        name:
          type: string
          description: The name for this resource.
        names:
          type: array
          description: The name of this resource listed in different languages.
          items:
            $ref: '#/components/schemas/Name'
        pokemon_species:
          type: array
          description: A list of pokemon species that result from this evolution trigger.
          items:
            $ref: '#/components/schemas/NamedAPIResource'
      required:
        - id
        - name
        - names
        - pokemon_species
      description: Evolution triggers are the events and conditions that cause a Pokémon to evolve. Check out Bulbapedia for greater detail.
    PokemonEvolutionChain:
      title: PokemonEvolutionChain
      type: object
      properties:
        id:
          type: integer
          description: The identifier for this resource.
        baby_trigger_item:
          $ref: '#/components/schemas/NamedAPIResource'
        chain:
          $ref: '#/components/schemas/ChainLink'
      required:
        - id
        - baby_trigger_item
        - chain
      description: Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.
    Type:
      type: object
      description: 'Types are properties for Pokémon and their moves. Each type has three properties: which types of Pokémon it is super effective against, which types of Pokémon it is not very effective against, and which types of Pokémon it is completely ineffective against.'
      properties:
        id:
          type: integer
        name:
          type: string
        damage_relations:
          $ref: '#/components/schemas/TypeRelations'
        past_damage_relations:
          type: array
          items:
            $ref: '#/components/schemas/TypeRelationsPast'
        game_indices:
          type: array
          items:
            $ref: '#/components/schemas/GenerationGameIndex'
        generation:
          $ref: '#/components/schemas/NamedAPIResource'
        move_damage_class:
          $ref: '#/components/schemas/NamedAPIResource'
        names:
          type: array
          items:
            $ref: '#/components/schemas/Name'
        pokemon:
          type: array
          items:
            $ref: '#/components/schemas/TypePokemon'
        moves:
          type: array
          items:
            $ref: '#/components/schemas/NamedAPIResource'
      required:
        - id
        - name
        - damage_relations
        - past_damage_relations
        - game_indices
        - generation
        - move_damage_class
        - names
        - pokemon
        - moves
  responses:
    GetPokemonsResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceList'
          examples:
            Example1:
              value:
                count: 1279
                next: 'https://pokeapi.co/api/v2/pokemon?offset=20&limit=20'
                previous: null
                results:
                  - name: bulbasaur
                    url: 'https://pokeapi.co/api/v2/pokemon/1/'
                  - name: ivysaur
                    url: 'https://pokeapi.co/api/v2/pokemon/2/'
                  - name: venusaur
                    url: 'https://pokeapi.co/api/v2/pokemon/3/'
                  - name: charmander
                    url: 'https://pokeapi.co/api/v2/pokemon/4/'
                  - name: charmeleon
                    url: 'https://pokeapi.co/api/v2/pokemon/5/'
                  - name: charizard
                    url: 'https://pokeapi.co/api/v2/pokemon/6/'
                  - name: squirtle
                    url: 'https://pokeapi.co/api/v2/pokemon/7/'
                  - name: wartortle
                    url: 'https://pokeapi.co/api/v2/pokemon/8/'
                  - name: blastoise
                    url: 'https://pokeapi.co/api/v2/pokemon/9/'
                  - name: caterpie
                    url: 'https://pokeapi.co/api/v2/pokemon/10/'
                  - name: metapod
                    url: 'https://pokeapi.co/api/v2/pokemon/11/'
                  - name: butterfree
                    url: 'https://pokeapi.co/api/v2/pokemon/12/'
                  - name: weedle
                    url: 'https://pokeapi.co/api/v2/pokemon/13/'
                  - name: kakuna
                    url: 'https://pokeapi.co/api/v2/pokemon/14/'
                  - name: beedrill
                    url: 'https://pokeapi.co/api/v2/pokemon/15/'
                  - name: pidgey
                    url: 'https://pokeapi.co/api/v2/pokemon/16/'
                  - name: pidgeotto
                    url: 'https://pokeapi.co/api/v2/pokemon/17/'
                  - name: pidgeot
                    url: 'https://pokeapi.co/api/v2/pokemon/18/'
                  - name: rattata
                    url: 'https://pokeapi.co/api/v2/pokemon/19/'
                  - name: raticate
                    url: 'https://pokeapi.co/api/v2/pokemon/20/'
    GetPokemonByIdResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Pokemon'
          examples:
            Example1:
              value:
                id: 35
                name: clefairy
                base_experience: 113
                height: 6
                is_default: false
                order: 56
                example: 75
                abilities:
                  - is_hidden: true
                    slot: 3
                    ability:
                      name: friend-guard
                      url: 'https://pokeapi.co/api/v2/ability/132/'
                forms:
                  - name: clefairy
                    url: 'https://pokeapi.co/api/v2/pokemon-form/35/'
                game_indices:
                  - game_index: 35
                    version:
                      name: white-2
                      url: 'https://pokeapi.co/api/v2/version/22/'
                held_items:
                  - item:
                      name: moon-stone
                      url: 'https://pokeapi.co/api/v2/item/81/'
                    version_details:
                      - rarity: 5
                        version:
                          name: ruby
                          url: 'https://pokeapi.co/api/v2/version/7/'
                location_area_encounters: /api/v2/pokemon/35/encounters
                moves:
                  - move:
                      name: pound
                      url: 'https://pokeapi.co/api/v2/move/1/'
                species:
                  name: clefairy
                  url: 'https://pokeapi.co/api/v2/pokemon-species/35/'
                sprites:
                  back_default: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/35.png'
                  back_female: null
                  back_shiny: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/35.png'
                  back_shiny_female: null
                  front_default: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/35.png'
                  front_female: null
                  front_shiny: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/35.png'
                  front_shiny_female: null
                stats:
                  - base_stat: 35
                    effort: 0
                    stat:
                      name: speed
                      url: 'https://pokeapi.co/api/v2/stat/6/'
                types:
                  - slot: 1
                    type:
                      name: fairy
                      url: 'https://pokeapi.co/api/v2/type/18/'
                past_types:
                  - generation:
                      name: generation-v
                      url: 'https://pokeapi.co/api/v2/generation/5/'
                    types:
                      - slot: 1
                        type:
                          name: normal
                          url: 'https://pokeapi.co/api/v2/type/1/'
    GetTypesResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceList'
          examples:
            Example1:
              value:
                count: 20
                next: null
                previous: null
                results:
                  - name: normal
                    url: 'https://pokeapi.co/api/v2/type/1/'
                  - name: fighting
                    url: 'https://pokeapi.co/api/v2/type/2/'
    GetTypeByIdResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Type'
          examples:
            Example1:
              value:
                id: 5
                name: ground
                damage_relations:
                  no_damage_to:
                    - name: flying
                      url: 'https://pokeapi.co/api/v2/type/3/'
                  half_damage_to:
                    - name: bug
                      url: 'https://pokeapi.co/api/v2/type/7/'
                  double_damage_to:
                    - name: poison
                      url: 'https://pokeapi.co/api/v2/type/4/'
                  no_damage_from:
                    - name: electric
                      url: 'https://pokeapi.co/api/v2/type/13/'
                  half_damage_from:
                    - name: poison
                      url: 'https://pokeapi.co/api/v2/type/4/'
                  double_damage_from:
                    - name: water
                      url: 'https://pokeapi.co/api/v2/type/11/'
                past_damage_relations:
                  - generation:
                      name: generation-v
                      url: 'https://pokeapi.co/api/v2/generation/5/'
                    damage_relations:
                      no_damage_to:
                        - name: normal
                          url: 'https://pokeapi.co/api/v2/type/1/'
                      half_damage_to:
                        - name: steel
                          url: 'https://pokeapi.co/api/v2/type/9/'
                      double_damage_to:
                        - name: ghost
                          url: 'https://pokeapi.co/api/v2/type/8/'
                      no_damage_from:
                        - name: normal
                          url: 'https://pokeapi.co/api/v2/type/1/'
                      half_damage_from:
                        - name: poison
                          url: 'https://pokeapi.co/api/v2/type/4/'
                      double_damage_from:
                        - name: ghost
                          url: 'https://pokeapi.co/api/v2/type/8/'
                game_indices:
                  - game_index: 4
                    generation:
                      name: generation-i
                      url: 'https://pokeapi.co/api/v2/generation/1/'
                generation:
                  name: generation-i
                  url: 'https://pokeapi.co/api/v2/generation/1/'
                move_damage_class:
                  name: physical
                  url: 'https://pokeapi.co/api/v2/move-damage-class/2/'
                names:
                  - name: aa
                    language:
                      name: ja
                      url: 'https://pokeapi.co/api/v2/language/1/'
                pokemon:
                  - slot: 1
                    pokemon:
                      name: sandshrew
                      url: 'https://pokeapi.co/api/v2/pokemon/27/'
                moves:
                  - name: sand-attack
                    url: 'https://pokeapi.co/api/v2/move/28/'
    GetItemsResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceList'
          examples:
            Example1:
              value:
                count: 2050
                next: 'https://pokeapi.co/api/v2/item?offset=20&limit=20'
                previous: null
                results:
                  - name: master-ball
                    url: 'https://pokeapi.co/api/v2/item/1/'
                  - name: ultra-bal
                    url: 'https://pokeapi.co/api/v2/item/2/'
    GetItemByIdResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Item'
          examples:
            Example1:
              value:
                id: 1
                name: master-ball
                cost: 0
                fling_power: 10
                fling_effect:
                  name: flinch
                  url: 'https://pokeapi.co/api/v2/item-fling-effect/7/'
                attributes:
                  - name: holdable
                    url: 'https://pokeapi.co/api/v2/item-attribute/5/'
                category:
                  name: standard-balls
                  url: 'https://pokeapi.co/api/v2/item-category/34/'
                effect_entries:
                  - effect: |
                      Used in battle\n:   [Catches]{mechanic:catch} a wild Pokémon without fail.\n\n    If used in a trainer battle, nothing happens and the ball is lost.
                    short_effect: Catches a wild Pokémon every time.
                    language:
                      name: en
                      url: 'https://pokeapi.co/api/v2/language/9/'
                flavor_text_entries:
                  - text: 'The best Poké Ball with the ultimate level of performance. With it, you will catch any wild Pokémon without fail.'
                    version_group:
                      name: x-y
                      url: 'https://pokeapi.co/api/v2/version-group/15/'
                    language:
                      name: en
                      url: 'https://pokeapi.co/api/v2/language/9/'
                game_indices:
                  - game_index: 1
                    generation:
                      name: generation-vi
                      url: 'https://pokeapi.co/api/v2/generation/6/'
                names:
                  - name: Master Ball
                    language:
                      name: en
                      url: 'https://pokeapi.co/api/v2/language/9/'
                sprites:
                  default: 'https://pokeapi.co/media/sprites/items/master-ball.png'
                held_by_pokemon:
                  - pokemon:
                      name: chansey
                      url: 'https://pokeapi.co/api/v2/pokemon/113/'
                    version_details:
                      - rarity: 50
                        version:
                          name: soulsilver
                          url: 'https://pokeapi.co/api/v2/version/16/'
                baby_trigger_for:
                  url: 'https://pokeapi.co/api/v2/evolution-chain/1/'
    GetGenerationsResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceList'
          examples:
            Example1:
              value:
                count: 9
                next: null
                previous: null
                results:
                  - name: generation-i
                    url: 'https://pokeapi.co/api/v2/generation/1/'
                  - name: generation-ii
                    url: 'https://pokeapi.co/api/v2/generation/2/'
                  - name: generation-iii
                    url: 'https://pokeapi.co/api/v2/generation/3/'
                  - name: generation-iv
                    url: 'https://pokeapi.co/api/v2/generation/4/'
                  - name: generation-v
                    url: 'https://pokeapi.co/api/v2/generation/5/'
                  - name: generation-vi
                    url: 'https://pokeapi.co/api/v2/generation/6/'
                  - name: generation-vii
                    url: 'https://pokeapi.co/api/v2/generation/7/'
                  - name: generation-viii
                    url: 'https://pokeapi.co/api/v2/generation/8/'
                  - name: generation-ix
                    url: 'https://pokeapi.co/api/v2/generation/9/'
    GetGenerationByIdResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GameGeneration'
          examples:
            Example1:
              value:
                id: 0
                name: string
                abilities:
                  - name: string
                    url: 'http://example.com'
                main_region:
                  name: string
                  url: 'http://example.com'
                moves:
                  - name: string
                    url: 'http://example.com'
                names:
                  - name: string
                    language:
                      name: string
                      url: 'http://example.com'
                pokemon_species:
                  - name: string
                    url: 'http://example.com'
                types:
                  - name: string
                    url: 'http://example.com'
                version_groups:
                  - name: string
                    url: 'http://example.com'
    GetVersionsResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceList'
          examples:
            Example1:
              value:
                count: 39
                next: 'https://pokeapi.co/api/v2/version?offset=20&limit=19'
                previous: null
                results:
                  - name: red
                    url: 'https://pokeapi.co/api/v2/version/1/'
                  - name: blue
                    url: 'https://pokeapi.co/api/v2/version/2/'
                  - name: yellow
                    url: 'https://pokeapi.co/api/v2/version/3/'
                  - name: gold
                    url: 'https://pokeapi.co/api/v2/version/4/'
                  - name: silver
                    url: 'https://pokeapi.co/api/v2/version/5/'
                  - name: crystal
                    url: 'https://pokeapi.co/api/v2/version/6/'
                  - name: ruby
                    url: 'https://pokeapi.co/api/v2/version/7/'
                  - name: sapphire
                    url: 'https://pokeapi.co/api/v2/version/8/'
                  - name: emerald
                    url: 'https://pokeapi.co/api/v2/version/9/'
                  - name: firered
                    url: 'https://pokeapi.co/api/v2/version/10/'
                  - name: leafgreen
                    url: 'https://pokeapi.co/api/v2/version/11/'
                  - name: diamond
                    url: 'https://pokeapi.co/api/v2/version/12/'
                  - name: pearl
                    url: 'https://pokeapi.co/api/v2/version/13/'
                  - name: platinum
                    url: 'https://pokeapi.co/api/v2/version/14/'
                  - name: heartgold
                    url: 'https://pokeapi.co/api/v2/version/15/'
                  - name: soulsilver
                    url: 'https://pokeapi.co/api/v2/version/16/'
                  - name: black
                    url: 'https://pokeapi.co/api/v2/version/17/'
                  - name: white
                    url: 'https://pokeapi.co/api/v2/version/18/'
                  - name: colosseum
                    url: 'https://pokeapi.co/api/v2/version/19/'
                  - name: xd
                    url: 'https://pokeapi.co/api/v2/version/20/'
    GetVersionByIdResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GameVersion'
          examples:
            Example1:
              value:
                id: 1
                name: red
                names:
                  - name: Rot
                    language:
                      name: de
                      url: 'https://pokeapi.co/api/v2/language/6/'
                version_group:
                  name: red-blue
                  url: 'https://pokeapi.co/api/v2/version-group/1/'
    GetVersionGroupsResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceList'
          examples:
            Example1:
              value:
                count: 25
                next: 'https://pokeapi.co/api/v2/version-group?offset=20&limit=5'
                previous: null
                results:
                  - name: red-blue
                    url: 'https://pokeapi.co/api/v2/version-group/1/'
                  - name: yellow
                    url: 'https://pokeapi.co/api/v2/version-group/2/'
                  - name: gold-silver
                    url: 'https://pokeapi.co/api/v2/version-group/3/'
                  - name: crystal
                    url: 'https://pokeapi.co/api/v2/version-group/4/'
                  - name: ruby-sapphire
                    url: 'https://pokeapi.co/api/v2/version-group/5/'
                  - name: emerald
                    url: 'https://pokeapi.co/api/v2/version-group/6/'
                  - name: firered-leafgreen
                    url: 'https://pokeapi.co/api/v2/version-group/7/'
                  - name: diamond-pearl
                    url: 'https://pokeapi.co/api/v2/version-group/8/'
                  - name: platinum
                    url: 'https://pokeapi.co/api/v2/version-group/9/'
                  - name: heartgold-soulsilver
                    url: 'https://pokeapi.co/api/v2/version-group/10/'
                  - name: black-white
                    url: 'https://pokeapi.co/api/v2/version-group/11/'
                  - name: colosseum
                    url: 'https://pokeapi.co/api/v2/version-group/12/'
                  - name: xd
                    url: 'https://pokeapi.co/api/v2/version-group/13/'
                  - name: black-2-white-2
                    url: 'https://pokeapi.co/api/v2/version-group/14/'
                  - name: x-y
                    url: 'https://pokeapi.co/api/v2/version-group/15/'
                  - name: omega-ruby-alpha-sapphire
                    url: 'https://pokeapi.co/api/v2/version-group/16/'
                  - name: sun-moon
                    url: 'https://pokeapi.co/api/v2/version-group/17/'
                  - name: ultra-sun-ultra-moon
                    url: 'https://pokeapi.co/api/v2/version-group/18/'
                  - name: lets-go-pikachu-lets-go-eevee
                    url: 'https://pokeapi.co/api/v2/version-group/19/'
                  - name: sword-shield
                    url: 'https://pokeapi.co/api/v2/version-group/20/'
    GetVersionGroupByIdResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GameVersionGroup'
          examples:
            Example1:
              value:
                id: 1
                name: red-blue
                order: 1
                generation:
                  name: generation-i
                  url: 'https://pokeapi.co/api/v2/generation/1/'
                move_learn_methods:
                  - name: level-up
                    url: 'https://pokeapi.co/api/v2/move-learn-method/1/'
                pokedexes:
                  - name: kanto
                    url: 'https://pokeapi.co/api/v2/pokedex/2/'
                regions:
                  - name: kanto
                    url: 'https://pokeapi.co/api/v2/region/1/'
                versions:
                  - name: red
                    url: 'https://pokeapi.co/api/v2/version/1/'
    GetPokemonSpeciesResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceList'
          examples:
            Example1:
              value:
                count: 1008
                next: 'https://pokeapi.co/api/v2/pokemon-species?offset=20&limit=20'
                previous: null
                results:
                  - name: bulbasaur
                    url: 'https://pokeapi.co/api/v2/pokemon-species/1/'
                  - name: ivysaur
                    url: 'https://pokeapi.co/api/v2/pokemon-species/2/'
                  - name: venusaur
                    url: 'https://pokeapi.co/api/v2/pokemon-species/3/'
                  - name: charmander
                    url: 'https://pokeapi.co/api/v2/pokemon-species/4/'
                  - name: charmeleon
                    url: 'https://pokeapi.co/api/v2/pokemon-species/5/'
                  - name: charizard
                    url: 'https://pokeapi.co/api/v2/pokemon-species/6/'
                  - name: squirtle
                    url: 'https://pokeapi.co/api/v2/pokemon-species/7/'
                  - name: wartortle
                    url: 'https://pokeapi.co/api/v2/pokemon-species/8/'
                  - name: blastoise
                    url: 'https://pokeapi.co/api/v2/pokemon-species/9/'
                  - name: caterpie
                    url: 'https://pokeapi.co/api/v2/pokemon-species/10/'
                  - name: metapod
                    url: 'https://pokeapi.co/api/v2/pokemon-species/11/'
                  - name: butterfree
                    url: 'https://pokeapi.co/api/v2/pokemon-species/12/'
                  - name: weedle
                    url: 'https://pokeapi.co/api/v2/pokemon-species/13/'
                  - name: kakuna
                    url: 'https://pokeapi.co/api/v2/pokemon-species/14/'
                  - name: beedrill
                    url: 'https://pokeapi.co/api/v2/pokemon-species/15/'
                  - name: pidgey
                    url: 'https://pokeapi.co/api/v2/pokemon-species/16/'
                  - name: pidgeotto
                    url: 'https://pokeapi.co/api/v2/pokemon-species/17/'
                  - name: pidgeot
                    url: 'https://pokeapi.co/api/v2/pokemon-species/18/'
                  - name: rattata
                    url: 'https://pokeapi.co/api/v2/pokemon-species/19/'
                  - name: raticate
                    url: 'https://pokeapi.co/api/v2/pokemon-species/20/'
    GetPokemonSpeciesByIdResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PokemonSpecies'
          examples:
            Example1:
              value:
                id: 413
                name: wormadam
                order: 441
                gender_rate: 8
                capture_rate: 45
                base_happiness: 70
                is_baby: false
                is_legendary: false
                is_mythical: false
                hatch_counter: 15
                has_gender_differences: false
                forms_switchable: false
                growth_rate:
                  name: medium
                  url: 'https://pokeapi.co/api/v2/growth-rate/2/'
                pokedex_numbers:
                  - entry_number: 45
                    pokedex:
                      name: kalos-central
                      url: 'https://pokeapi.co/api/v2/pokedex/12/'
                egg_groups:
                  - name: bug
                    url: 'https://pokeapi.co/api/v2/egg-group/3/'
                color:
                  name: gray
                  url: 'https://pokeapi.co/api/v2/pokemon-color/4/'
                shape:
                  name: squiggle
                  url: 'https://pokeapi.co/api/v2/pokemon-shape/2/'
                evolves_from_species:
                  name: burmy
                  url: 'https://pokeapi.co/api/v2/pokemon-species/412/'
                evolution_chain:
                  url: 'https://pokeapi.co/api/v2/evolution-chain/213/'
                habitat: null
                generation:
                  name: generation-iv
                  url: 'https://pokeapi.co/api/v2/generation/4/'
                names:
                  - name: Wormadam
                    language:
                      name: en
                      url: 'https://pokeapi.co/api/v2/language/9/'
                flavor_text_entries:
                  - flavor_text: "When the bulb on\nits back grows\nlarge, it appears\fto lose the\nability to stand\non its hind legs."
                    language:
                      name: en
                      url: 'https://pokeapi.co/api/v2/language/9/'
                    version:
                      name: red
                      url: 'https://pokeapi.co/api/v2/version/1/'
                form_descriptions:
                  - description: 'Forms have different stats and movepools.  During evolution, Burmy''s current cloak becomes Wormadam''s form, and can no longer be changed.'
                    language:
                      name: en
                      url: 'https://pokeapi.co/api/v2/language/9/'
                genera:
                  - genus: Bagworm
                    language:
                      name: en
                      url: 'https://pokeapi.co/api/v2/language/9/'
                varieties:
                  - is_default: true
                    pokemon:
                      name: wormadam-plant
                      url: 'https://pokeapi.co/api/v2/pokemon/413/'
    404Response:
      description: NotFound
      content:
        text/plain:
          schema:
            type: string
          examples:
            Example1:
              value: NotFound
    GetEvolutionChainsResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceList'
          examples:
            Example1:
              value:
                count: 469
                next: 'https://pokeapi.co/api/v2/evolution-chain?offset=20&limit=20'
                previous: null
                results:
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/1/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/2/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/3/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/4/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/5/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/6/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/7/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/8/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/9/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/10/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/11/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/12/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/13/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/14/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/15/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/16/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/17/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/18/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/19/'
                  - url: 'https://pokeapi.co/api/v2/evolution-chain/20/'
    GetEvolutionChainsByIdResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PokemonEvolutionChain'
          examples:
            Example1:
              value:
                baby_trigger_item: null
                chain:
                  evolution_details: []
                  evolves_to:
                    - evolution_details:
                        - gender: null
                          held_item: null
                          item: null
                          known_move: null
                          known_move_type: null
                          location: null
                          min_affection: null
                          min_beauty: null
                          min_happiness: null
                          min_level: 16
                          needs_overworld_rain: false
                          party_species: null
                          party_type: null
                          relative_physical_stats: null
                          time_of_day: ''
                          trade_species: null
                          trigger:
                            name: level-up
                            url: 'https://pokeapi.co/api/v2/evolution-trigger/1/'
                          turn_upside_down: false
                      evolves_to:
                        - evolution_details:
                            - gender: null
                              held_item: null
                              item: null
                              known_move: null
                              known_move_type: null
                              location: null
                              min_affection: null
                              min_beauty: null
                              min_happiness: null
                              min_level: 32
                              needs_overworld_rain: false
                              party_species: null
                              party_type: null
                              relative_physical_stats: null
                              time_of_day: ''
                              trade_species: null
                              trigger:
                                name: level-up
                                url: 'https://pokeapi.co/api/v2/evolution-trigger/1/'
                              turn_upside_down: false
                          evolves_to: []
                          is_baby: false
                          species:
                            name: venusaur
                            url: 'https://pokeapi.co/api/v2/pokemon-species/3/'
                      is_baby: false
                      species:
                        name: ivysaur
                        url: 'https://pokeapi.co/api/v2/pokemon-species/2/'
                  is_baby: false
                  species:
                    name: bulbasaur
                    url: 'https://pokeapi.co/api/v2/pokemon-species/1/'
                id: 1
    GetEvolutionTriggersResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceList'
          examples:
            Example1:
              value:
                count: 13
                next: null
                previous: null
                results:
                  - name: level-up
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/1/'
                  - name: trade
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/2/'
                  - name: use-item
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/3/'
                  - name: shed
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/4/'
                  - name: spin
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/5/'
                  - name: tower-of-darkness
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/6/'
                  - name: tower-of-waters
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/7/'
                  - name: three-critical-hits
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/8/'
                  - name: take-damage
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/9/'
                  - name: other
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/10/'
                  - name: agile-style-move
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/11/'
                  - name: strong-style-move
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/12/'
                  - name: recoil-damage
                    url: 'https://pokeapi.co/api/v2/evolution-trigger/13/'
    GetEvolutionTriggerByIdResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PokemonEvolutionTrigger'
          examples:
            Example1:
              value:
                id: 1
                name: level-up
                names:
                  - language:
                      name: fr
                      url: 'https://pokeapi.co/api/v2/language/5/'
                    name: Montée de niveau
                  - language:
                      name: de
                      url: 'https://pokeapi.co/api/v2/language/6/'
                    name: Levelaufstieg
                  - language:
                      name: en
                      url: 'https://pokeapi.co/api/v2/language/9/'
                    name: Level up
                pokemon_species:
                  - name: ivysaur
                    url: 'https://pokeapi.co/api/v2/pokemon-species/2/'
                  - name: venusaur
                    url: 'https://pokeapi.co/api/v2/pokemon-species/3/'
                  - name: charmeleon
                    url: 'https://pokeapi.co/api/v2/pokemon-species/5/'
                  - name: charizard
                    url: 'https://pokeapi.co/api/v2/pokemon-species/6/'
                  - name: wartortle
                    url: 'https://pokeapi.co/api/v2/pokemon-species/8/'
                  - name: blastoise
                    url: 'https://pokeapi.co/api/v2/pokemon-species/9/'
                  - name: metapod
                    url: 'https://pokeapi.co/api/v2/pokemon-species/11/'
                  - name: butterfree
                    url: 'https://pokeapi.co/api/v2/pokemon-species/12/'
                  - name: kakuna
                    url: 'https://pokeapi.co/api/v2/pokemon-species/14/'
                  - name: beedrill
                    url: 'https://pokeapi.co/api/v2/pokemon-species/15/'
                  - name: pidgeotto
                    url: 'https://pokeapi.co/api/v2/pokemon-species/17/'
                  - name: pidgeot
                    url: 'https://pokeapi.co/api/v2/pokemon-species/18/'
                  - name: raticate
                    url: 'https://pokeapi.co/api/v2/pokemon-species/20/'
                  - name: fearow
                    url: 'https://pokeapi.co/api/v2/pokemon-species/22/'
                  - name: arbok
                    url: 'https://pokeapi.co/api/v2/pokemon-species/24/'
                  - name: pikachu
                    url: 'https://pokeapi.co/api/v2/pokemon-species/25/'
                  - name: sandslash
                    url: 'https://pokeapi.co/api/v2/pokemon-species/28/'
                  - name: nidorina
                    url: 'https://pokeapi.co/api/v2/pokemon-species/30/'
                  - name: nidorino
                    url: 'https://pokeapi.co/api/v2/pokemon-species/33/'
                  - name: clefairy
                    url: 'https://pokeapi.co/api/v2/pokemon-species/35/'
                  - name: jigglypuff
                    url: 'https://pokeapi.co/api/v2/pokemon-species/39/'
                  - name: golbat
                    url: 'https://pokeapi.co/api/v2/pokemon-species/42/'
                  - name: gloom
                    url: 'https://pokeapi.co/api/v2/pokemon-species/44/'
                  - name: parasect
                    url: 'https://pokeapi.co/api/v2/pokemon-species/47/'
                  - name: venomoth
                    url: 'https://pokeapi.co/api/v2/pokemon-species/49/'
                  - name: dugtrio
                    url: 'https://pokeapi.co/api/v2/pokemon-species/51/'
                  - name: persian
                    url: 'https://pokeapi.co/api/v2/pokemon-species/53/'
                  - name: golduck
                    url: 'https://pokeapi.co/api/v2/pokemon-species/55/'
                  - name: primeape
                    url: 'https://pokeapi.co/api/v2/pokemon-species/57/'
                  - name: poliwhirl
                    url: 'https://pokeapi.co/api/v2/pokemon-species/61/'
                  - name: kadabra
                    url: 'https://pokeapi.co/api/v2/pokemon-species/64/'
                  - name: machoke
                    url: 'https://pokeapi.co/api/v2/pokemon-species/67/'
                  - name: weepinbell
                    url: 'https://pokeapi.co/api/v2/pokemon-species/70/'
                  - name: tentacruel
                    url: 'https://pokeapi.co/api/v2/pokemon-species/73/'
                  - name: graveler
                    url: 'https://pokeapi.co/api/v2/pokemon-species/75/'
                  - name: rapidash
                    url: 'https://pokeapi.co/api/v2/pokemon-species/78/'
                  - name: slowbro
                    url: 'https://pokeapi.co/api/v2/pokemon-species/80/'
                  - name: magneton
                    url: 'https://pokeapi.co/api/v2/pokemon-species/82/'
                  - name: dodrio
                    url: 'https://pokeapi.co/api/v2/pokemon-species/85/'
                  - name: dewgong
                    url: 'https://pokeapi.co/api/v2/pokemon-species/87/'
                  - name: muk
                    url: 'https://pokeapi.co/api/v2/pokemon-species/89/'
                  - name: haunter
                    url: 'https://pokeapi.co/api/v2/pokemon-species/93/'
                  - name: hypno
                    url: 'https://pokeapi.co/api/v2/pokemon-species/97/'
                  - name: kingler
                    url: 'https://pokeapi.co/api/v2/pokemon-species/99/'
                  - name: electrode
                    url: 'https://pokeapi.co/api/v2/pokemon-species/101/'
                  - name: marowak
                    url: 'https://pokeapi.co/api/v2/pokemon-species/105/'
                  - name: hitmonlee
                    url: 'https://pokeapi.co/api/v2/pokemon-species/106/'
                  - name: hitmonchan
                    url: 'https://pokeapi.co/api/v2/pokemon-species/107/'
                  - name: weezing
                    url: 'https://pokeapi.co/api/v2/pokemon-species/110/'
                  - name: rhydon
                    url: 'https://pokeapi.co/api/v2/pokemon-species/112/'
                  - name: chansey
                    url: 'https://pokeapi.co/api/v2/pokemon-species/113/'
                  - name: seadra
                    url: 'https://pokeapi.co/api/v2/pokemon-species/117/'
                  - name: seaking
                    url: 'https://pokeapi.co/api/v2/pokemon-species/119/'
                  - name: mr-mime
                    url: 'https://pokeapi.co/api/v2/pokemon-species/122/'
                  - name: jynx
                    url: 'https://pokeapi.co/api/v2/pokemon-species/124/'
                  - name: electabuzz
                    url: 'https://pokeapi.co/api/v2/pokemon-species/125/'
                  - name: magmar
                    url: 'https://pokeapi.co/api/v2/pokemon-species/126/'
                  - name: gyarados
                    url: 'https://pokeapi.co/api/v2/pokemon-species/130/'
                  - name: omastar
                    url: 'https://pokeapi.co/api/v2/pokemon-species/139/'
                  - name: kabutops
                    url: 'https://pokeapi.co/api/v2/pokemon-species/141/'
                  - name: snorlax
                    url: 'https://pokeapi.co/api/v2/pokemon-species/143/'
                  - name: dragonair
                    url: 'https://pokeapi.co/api/v2/pokemon-species/148/'
                  - name: dragonite
                    url: 'https://pokeapi.co/api/v2/pokemon-species/149/'
                  - name: bayleef
                    url: 'https://pokeapi.co/api/v2/pokemon-species/153/'
                  - name: meganium
                    url: 'https://pokeapi.co/api/v2/pokemon-species/154/'
                  - name: quilava
                    url: 'https://pokeapi.co/api/v2/pokemon-species/156/'
                  - name: typhlosion
                    url: 'https://pokeapi.co/api/v2/pokemon-species/157/'
                  - name: croconaw
                    url: 'https://pokeapi.co/api/v2/pokemon-species/159/'
                  - name: feraligatr
                    url: 'https://pokeapi.co/api/v2/pokemon-species/160/'
                  - name: furret
                    url: 'https://pokeapi.co/api/v2/pokemon-species/162/'
                  - name: noctowl
                    url: 'https://pokeapi.co/api/v2/pokemon-species/164/'
                  - name: ledian
                    url: 'https://pokeapi.co/api/v2/pokemon-species/166/'
                  - name: ariados
                    url: 'https://pokeapi.co/api/v2/pokemon-species/168/'
                  - name: crobat
                    url: 'https://pokeapi.co/api/v2/pokemon-species/169/'
                  - name: lanturn
                    url: 'https://pokeapi.co/api/v2/pokemon-species/171/'
                  - name: togetic
                    url: 'https://pokeapi.co/api/v2/pokemon-species/176/'
                  - name: xatu
                    url: 'https://pokeapi.co/api/v2/pokemon-species/178/'
                  - name: flaaffy
                    url: 'https://pokeapi.co/api/v2/pokemon-species/180/'
                  - name: ampharos
                    url: 'https://pokeapi.co/api/v2/pokemon-species/181/'
                  - name: marill
                    url: 'https://pokeapi.co/api/v2/pokemon-species/183/'
                  - name: azumarill
                    url: 'https://pokeapi.co/api/v2/pokemon-species/184/'
                  - name: sudowoodo
                    url: 'https://pokeapi.co/api/v2/pokemon-species/185/'
                  - name: skiploom
                    url: 'https://pokeapi.co/api/v2/pokemon-species/188/'
                  - name: jumpluff
                    url: 'https://pokeapi.co/api/v2/pokemon-species/189/'
                  - name: quagsire
                    url: 'https://pokeapi.co/api/v2/pokemon-species/195/'
                  - name: espeon
                    url: 'https://pokeapi.co/api/v2/pokemon-species/196/'
                  - name: umbreon
                    url: 'https://pokeapi.co/api/v2/pokemon-species/197/'
                  - name: wobbuffet
                    url: 'https://pokeapi.co/api/v2/pokemon-species/202/'
[...]
